.select{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.label{
    font-weight: 700;
    font-size: larger;
}
.selector{
    width:260px;
    height:36px;
    border: 2px solid black;
    background-color: white;
    font-size: larger;
}