.input_box {
  display: flex;
  align-items: center;
  gap: 4rem;
  justify-content: space-between;
}
.label {
  font-weight: 700;
  font-size: larger;
}
.input_body {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
}
.input {
  padding: 8px 12px;
  border-radius: 4px;
  outline: none;
  font-size: large;
}
.eye_icon {
  position: absolute;
  right: 10px;
}
.eye_icon button {
  width: fit-content;
  height: fit-content;
  border: none;
  background: none;
  font-size: x-large;
}
