.button{
    border:none;
    color:white;
    font-weight: 800;
    border-radius: 18px;
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:4px;
}
.button .icon{
    font-size: x-large;
    color:white;
    height:fit-content;
    width: fit-content;
}
.button .text{
    font-size: large;
}